{% extends "base.html.twig" %}

{% block title %} Gestionnaire de client {% endblock %}

{% block content %}
<h1 class=" text-center">Listes des clients </h1>
<a href="{{env.base_path}}/clients/new/"><i class="fa fa-plus btn btn-primary m-5 " aria-hidden="true"> Ajouter</i></a>
<ul>
    {% for client in clients %}
    <li>
        {{client.id}}<br>
        {{client.lastname}} {{client.firstname}}
        <br>
        <h6 class="text-success">Date d'entrée</h6>
        {{client.entry_date}}
        <br>
        <h6 class="text-success">Date de sortie</h6>
        {{client.departure_date}}
        <br>
        <a href="{{env.base_path}}/clients/edit/{{client.id}}"><i class="fa fa-pencil btn btn-warning p-2 my-2" aria-hidden="true"></i></a>
        <a href="{{env.base_path}}/clients/delete/{{client.id}}"><i class="fa fa-trash-o btn btn-danger p-2 m-2" aria-hidden="true"></i></a>
        <hr>
    </li>
    {% endfor %}
</ul>

{% endblock %}